$black: #000000;
$black-001: #E0E0E0;
$black-002: #D0D0D0;
$black-003: #888888;
$black-004: #555555;
$black-005: #333333;
$black-006: #E6E6E6;

$radius: .25rem;

$blue-001:#1133FF;
$blue-002:#0D25AE;
$blue-003:#1133FF;
$blue-004:#506AFF;
$blue-005:#1133FF;

$white-color: #FFFFFF;
$black-color: #000000;

$orange-001:#FF7811;
$orange-002:#FF5E14;

$button-size: 2.5rem;
$button-font-size: .875rem;
$button-hpadding: 2rem;
$button-radius: $radius;

$container-width: 1400px;
