$white-color: #FFFFFF;
$black-color: #000000;

$black-001: #E0E0E0;
$black-002: #D0D0D0;
$black-003: #888888;
$black-004: #555555;
$black-005: #333333;
$black-006: #E6E6E6;

// Neutral

// Gray

// Red
$red-001: #FFEDEF;
$red-002: #FFC6CD;
$red-003: #FF8D9B;
$red-004: #FD6171;
$red-005: #FF3E51;
$red-006: #DB1428;
$red-007: #C31123;
$red-008: #A60A1A;
$red-009: #95000F;

// Orange
$orange-001: #FFF2E1;
$orange-002: #FFE2BB;
$orange-003: #FFD093;
$orange-004: #FFC06E;
$orange-005: #FFA735;
$orange-006: #E1922B;
$orange-007: #D08017;
$orange-008: #B56803;
$orange-009: #7B4600;

// Green
$green-001: #E6FFEF;
$green-002: #D2F7DF;
$green-003: #A8FDC7;
$green-004: #87FBB1;
$green-005: #5CF995;
$green-006: #20E368;
$green-007: #0FB94D;
$green-008: #018E35;
$green-009: #04772E;

// Blue
$blue-001: #EAEBFF;
$blue-002: #D0D2FB;
$blue-003: #A5A9FB;
$blue-004: #8187F7;
$blue-005: #4049FD;
$blue-006: #313AEA;
$blue-007: #232CD2;
$blue-008: #00089F;
$blue-009: #051573;

// Primary
$primary-001: #EDF2FF;
$primary-002: #D6E0FB;
$primary-003: #B1C5FF;
$primary-004: #6E91F0;
$primary-005: #3369FF;
$primary-006: #2657DF;
$primary-007: #1949CC;
$primary-008: #0F359D;
$primary-009: #07216A;

// Accent
$accent-001: #FFECE7;
$accent-002: #FAFFC5;
$accent-003: #F8FFAE;
$accent-004: #F5FF86;
$accent-005: #EBFB3E;
$accent-006: #D4E328;
$accent-007: #C1D016;
$accent-008: #919D0E;
$accent-009: #5C6408;




/*
$blue-001:#1133FF;
$blue-002:#0D25AE;
$blue-003:#1133FF;
$blue-004:#506AFF;
$blue-005:#1133FF;
*/

/*
$orange-001:#FF7811;
$orange-002:#FF5E14;
*/

$radius: .25rem;

$button-size: 2.5rem;
$button-font-size: .875rem;
$button-hpadding: 2rem;
$button-radius: $radius;

$container-width: 1400px;
