.example-002 {
	.navbar {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: transparent;
	}

	.hero-section {
		background: url('assets/img/pattern-01.png'), linear-gradient(to right, #EAEBFF, #EAEBFF);

		.hero-title, .hero-subtitle {
			color: #222222;
		}
		.hero-cta{
			.button{
				border-color: $orange-005;
				color:  $orange-005;

			}
		}
		.hero-section-image{
			overflow: hidden;
			box-shadow:20px 20px 40px rgba($black-color, 0.2);
			.hero-image-wrapper{

				.hero-image{
					height: 600px;
					width: 600px;
					object-fit: cover;

				}
				.particles{
					height:20px;
					width:20px;
					color:#c6d8e2;


				}
			}
		}
		.hero-section-bar {
			background: linear-gradient(to right, $primary-003, $primary-002);
			padding-top: 50px;
			padding-bottom: 50px;

			.hero-section-bar-wrapper {
				display: flex;
				justify-content: space-between;
				.house-card {
					width: 300px;
					height: 380px;
					// @TODO Exatract box-shadows style in separate class with size modifier
					box-shadow: 20px 20px 40px rgba($black-color, 0.2);
					img {
						width: 300px;
						height: 380px;
						object-fit: cover;
						object-position: center;
						
					}
				}
			}
		}
		.hero-card {
		width: 100%;
		max-width: 300px;
		border-radius: 8px;
		overflow: hidden;
		background-color: $white-color;
		box-shadow: 20px 20px 40px rgba($black-color, .1);
		position: absolute;
		z-index: 9;
		right: 300px;
		top: 400px;
		&-head {
			/*height: 100px;
			align-items: center;
			justify-content: center;*/
			display: flex;
			
			font-size: 1rem;
			color: $orange-005;
			font-weight: 600;
			text-align: left;
			margin-left: 1rem;
			margin-top: 1rem;
		}
		&-body {
			padding: 20px 20px;
			font-size: 1rem;
			color: $black-005;
			margin-top: -1rem;
		}

	}
	}


}
