.example-003 {
	.navbar {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: transparent;

	}

	.hero-section {
		background-color: $white-color;

		.hero-title, .hero-subtitle {
			color: #222222;

		}

		.hero-title {
			font-size: 68px;
		}

		.icon{
			color: $white-color;
		}

		.is-primary {
			background-color: $blue-005;
		}

		.is-white {
			background-color: $white-color;

			.icon {
				color: black;
			}
		}


		.hero-section-image {
			overflow: visible;
			width: auto;

			.hero-image-wrapper {
				position: relative;
				width: 300px;
				padding-bottom: 120px;


				.circle1 {
					position: relative;
					width: 600px;
					height: 600px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid $blue-003;
					border-radius: 100%;

					.outer-circle1 {
						position: absolute;
						right: 98px;
						top: 6px;
						width: 75px;
						height: 75px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $blue-005;
						color: $white-color;
						border-radius: 100%;
					}

					.outer-circle2 {
						position: absolute;
						left: -35px;
						top: 50%;
						width: 75px;
						height: 75px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $blue-005;
						color: $white-color;
						border-radius: 100%;
					}

					.outer-circle3 {
						position: absolute;
						right: 78px;
						bottom: 30px;
						width: 60px;
						height: 60px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $blue-005;
						color: $white-color;
						border-radius: 100%;
					}

					.circle2 {
						width: 500px;
						height: 500px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $blue-002;
						border: 1px solid $blue-003;
						border-radius: 100%;

						.circle3 {
							width: 300px;
							height: 300px;
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: $red-002;
							border: 1px solid $blue-003;
							border-radius: 100%;

							}

					}
				}

				.hero-image {
					position: absolute;
					left: 55%;
					top: 12%;
					padding-top: 0;
					object-fit: cover;
					z-index: 99;
					
				}

				.particles-no-01, .particles-no-02 {
					width: 20px;;
					height: 20px;;
					background-color: $blue-002;
					position: absolute;
					z-index: 10;
				}

				.particles-no-01 {
					left: -10px;
					top: 30px;

					&::before {
						content: "";
						width: 15px;
						height: 15px;
						background-color: $blue-002;
						position: absolute;
						z-index: 13;
						left: -20px;
						top: -20px;
					}

					&::after {
						content: "";
						width: 10px;
						height: 10px;
						background-color: $blue-002;
						position: absolute;
						z-index: 13;
						right: -20px;
						bottom: 50%;
						transform: translateY(50%);
					}


				}

				.particles-no-02 {
					right: -200px;
					bottom: 30px;

					&::before {
						content: "";
						width: 15px;
						height: 15px;
						background-color: $blue-002;
						position: absolute;
						z-index: 13;
						left: -20px;
						top: -20px;
					}

					&::after {
						content: "";
						width: 10px;
						height: 10px;
						background-color: $blue-002;
						position: absolute;
						z-index: 13;
						right: -20px;
						bottom: 50%;
						transform: translateY(50%);
					}
				}
			}
		}

		.hero-section-bar {
			background: linear-gradient(to bottom, $white-color, $white-color);
		

			.hero-section-bar-wrapper {
				display: flex;
				justify-content: space-between;
				height: 450px;
				
				width: 100%;

				.card-image-area {
					width: 30%;
					overflow: hidden;
					position: relative;

					.image-overlay {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						z-index: 2;
						background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
					}
				}

				.card-area {
					display: block;
					width: 65%;
	
					.card-area-1 {
						display: flex;
						justify-content: space-around;
						height: 33%;
						width: 100%;
						margin-bottom: 40px;;
				

						.wrapper-1 {
							display: flex;
							justify-content: space-between;
							width: 45%;
							background-color: $white-color;
							border-radius: 12px;
							padding: 20px;
							box-shadow: 20px 20px 40px rgba($black-color, 0.2);

							.icon-area {
								display: flex;
								justify-content: center;
								width: 25%;
								padding-right: 16px;

								.icon-circle {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 48px;
									height: 48px;
									border-radius: 100%;
									background-color: $blue-002;
									color: $blue-005;

								}

								.icon-circle-2 {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 48px;
									height: 48px;
									border-radius: 100%;
									background-color: $green-002;
									color: $green-007;
								}
							}

							.text-area {
							

								.card-heading {
									font-weight: 24px;
									font-weight: 600;
									color: $blue-005;
									padding-bottom: 12px;
								}

								.card-heading-2 {
									font-weight: 24px;
									font-weight: 600;
									color: $green-007;
									padding-bottom: 12px;
								}
							}
						}
					}
				}

			}
		}
	}
}