.example-004{
	.navbar{
		position: absolute;
		left: 0;
		right: 0;
		z-index: 9;
		background-color: transparent;

		.navbar-center, .navbar-right{
			.navbar-content{
				.navbar-menu{
					.navbar-menu-item{
						.navbar-menu-item-link{
							color: $white-color;
						}
					}
				}
			}
		}
	}


	
}

.hero-section {
	    height: calc(100vh-60px);
	    position:relative;
		background-color:#38a935;
		.hero-section-bg-image {
			position: absolute; 
			height: 1100px;
			width: 1200px;
			top:-150px;
			left:-180px;
			background-size: cover;
			background-position: top left;

			}
		.hero-section-texts{
		.hero-section-texts-wrapper{
			z-index: 1;
			.hero-title{
				max-width:450px;
           }
		   .hero-title, .hero-subtitle {
			 color: #222222;
		   }
		     .hero-subtitle1{
			   color:#38a935;
		}
	}
}
				.hero-section-image {
					overflow: visible;
					.hero-section-image-wrapper{
						width:700px;
						height: 500px;
					   .hero-image {
					    width:700px;
					   	height:500px;
						}
			
                         .particle{
							height:32px;
							width:32px;
							background-color:#c6d8e2;
							position:absolute;
							opacity: .2;
							top:300px;
							right:850px;

							&::after {
									content: "";
									width: 8px;
									height: 8px;
									position: absolute;
									top:-120px;
									left:330px;
									background-color:#c6d8e2;

								}
							
					       	}
                    
							.particles{
								height:20px;
								width:20px;
								background-color:#c6d8e2;
								position:absolute;
								opacity: .2;

								&::before {
								content: "";
								width: 8px;
								height: 8px;
								position: absolute;
								top:456px;
								left:130px;
								background-color:#c6d8e2;
							}
		                            &.no-01{
		                            	top:200px;
									    right:550px;

		                            } 
		                            &.no-02{
										bottom:300px;
										right:400px;
									}

							}
							.particless{
								height:32px;
								width:32px;
								background-color:#c6d8e2;
								position:absolute;
								opacity: .2;
								top:280px;
								right:360px;

								&::before {
								content: "";
								width: 20px;
								height: 20px;
								position: absolute;
								top:-25px;
								left:20px;
								background-color:#c6d8e2;

				   
				                }
							}
				 
				     } 

				}
				.hero-cta{
					.button{
						.button-text{
							.button-text-1, .button-text-2{
								display: block;
							}
						}
					}
				}
                     	

			}
				



					
						

