// @NOTE Change value of these variable to change the button
// bg and fg color
$button-hero-bg: linear-gradient(to right, $orange-006, $orange-004);
$button-hero-fg: $white-color;
$button-hero-padding-x-md: 2.5rem;
$button-hero-padding-x-lg: 3.25rem;
$button-hero-height-lg: 3rem;

.button-hero {
	@include button-reset;
	background: $button-hero-bg;
	color: $button-hero-fg;
	border-width: 0;

	&.is-rounded {
		border-radius: $button-radius;
	}
	&.is-fullrounded {
		border-radius: 1000px;
	}
	&.has-shadow {
		&::before {
			content: "";
			width: $button-size * 2;
			height: $button-size;
			border-radius: 100%;
			filter: blur(10px);
			position: absolute;
			top: 15px;
			z-index: -1;
			opacity: .5;
			background: inherit;
		}
	}
	&.is-md {
		padding-left: $button-hero-padding-x-md;
		padding-right: $button-hero-padding-x-md;
	}
	&.is-lg {
		height: $button-hero-height-lg;
		padding-left: $button-hero-padding-x-lg;
		padding-right: $button-hero-padding-x-lg;
	}
}
