.hero-section-02 {
	min-height: 100vh;
	background-color: #22221A;

}




.hero-section-02 .hero-section-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;

	
}

.hero-section-02 .hero-section-texts {
	height: 30vh;
	width: 100%;
	max-width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top:16px
}

.hero-title, .hero-subtitle {
	color: #FFFFFF;
	line-height: 1.25;
	margin-bottom: 24px;
}

.hero-title {
	font-size: 72px;
	font-weight: 700;
}

.hero-subtitle {
	font-size: 32px;
	font-weight: 400;

}

.hero-section-02 .hero-section-image {
	max-width: 600px;
	margin: 0 auto;
	overflow: hidden;
	}

.hero-section-image .hero-image {
	width: 100%;
	height: 65vh;
	object-fit: cover;
	padding-top: 32px;
}

.hero-cta .button-hero{
	margin-right: 16px;
}