.hero-section {
	min-height: 100vh;
	background-color: #22221A;
}

.hero-section .hero-section-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
}

.hero-section .hero-section-texts {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
	max-width: 600px;
	flex: 1;
}

.hero-title, .hero-subtitle {
	color: #FFFFFF;
	line-height: 1.25;
	margin-bottom: 2rem;
}

.hero-title {
	font-size: 72px;
	font-weight: 700;
}

.hero-subtitle {
	font-size: 2rem;
	font-weight: 400;

}

.hero-section .hero-section-image {
	width: 50%;
	max-width: 500px;
	margin: 0 auto;
	overflow: hidden;
}

.hero-section-image .hero-image {
	width: 100%;
	height: 600px;
	object-fit: cover;
	padding-top: 2rem;
}

.hero-cta .button-hero{
	margin-right: 1rem;
}